In [1]:
#Q1. Create one variable containing following type of data:
#(i) string
#(ii) list
#(iii) float
#(iv) tuple

#STRING
my_string = "Hi, everyone"

#List
my_list = [1,2,3,4,5,6]

#FLOAT
my_float = 5.6

#TUPLE
my_tuple = (10,20,30,40)

In [3]:
#Q2. Given are some following variables containing data:
#(i) var1 = ‘ ‘
#(ii) var2 = ‘[ DS , ML , Python]’
#(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
#(iv) var4 = 1.
#What will be the data type of the above given variable.

#(i)var1= ' '
# this variable contain an empty string so the data type will be 'str'(string)

#(ii) var2 = ‘[ DS , ML , Python]’
#this variable contains also a string as it enclosed in single quotes so data type is str(string)

#(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
# this variable contains list of string, so data type is a LIST

#(iv) var4 = 1.
#this variable contain floating point number so data type is float.

Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

In [12]:
# (i)   /
# above operator is called Division Operator which is used to divide one number by another

divide = 49/8
print(divide)
#output = 6.125 

# (ii) %
# above operator % called as modulus operator, it returns the remainder

modulo = 10%4
print(modulo)
# output =2


#(iii) //
# above operator is called as floor division operator,used to perform division where the result is down to integer
 
floor_d = 15//6
print(floor_d)

# (iv) **
# the above operator called as exponentiation operator,it raises the first operand to the power of second

expo = 2**4
print(expo)

6.125
2
2
16

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [16]:
my_list = [1, "Hello", 3.14, True, [5, 6], {'key': 'value'}, (7, 8), None, 9.99, "World"]
for i in my_list:
    print("Element:",i,"Data Type:",type(i))

Element: 1 Data Type: <class 'int'>
Element: Hello Data Type: <class 'str'>
Element: 3.14 Data Type: <class 'float'>
Element: True Data Type: <class 'bool'>
Element: [5, 6] Data Type: <class 'list'>
Element: {'key': 'value'} Data Type: <class 'dict'>
Element: (7, 8) Data Type: <class 'tuple'>
Element: None Data Type: <class 'NoneType'>
Element: 9.99 Data Type: <class 'float'>
Element: World Data Type: <class 'str'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [ ]:
# Taking input for numbers A and B
A = int(input("Enter the number A: "))
B = int(input("Enter the number B: "))

# Initializing a variable to count the number of divisions
count = 0

# Checking if A is purely divisible by B
while A % B == 0:
    # Dividing A by B
    A = A / B
    # Incrementing the count of divisions
    count += 1

# Printing the result
if count > 0:
    print("Number A is purely divisible by number B ", count, "times.")
else:
    print("Number A is not purely divisible by number B.")

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [24]:
my_int_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10,
               11, 12, 13, 14, 15, 16, 17, 18, 19, 20,
               21, 22, 23, 24, 25]
for i in my_int_list:
    if i %3==0:
        print(i," element is divisible by 3")
    else:
        print(i," element is not divisible by 3")

1  element is not divisible by 3
2  element is not divisible by 3
3  element is divisible by 3
4  element is not divisible by 3
5  element is not divisible by 3
6  element is divisible by 3
7  element is not divisible by 3
8  element is not divisible by 3
9  element is divisible by 3
10  element is not divisible by 3
11  element is not divisible by 3
12  element is divisible by 3
13  element is not divisible by 3
14  element is not divisible by 3
15  element is divisible by 3
16  element is not divisible by 3
17  element is not divisible by 3
18  element is divisible by 3
19  element is not divisible by 3
20  element is not divisible by 3
21  element is divisible by 3
22  element is not divisible by 3
23  element is not divisible by 3
24  element is divisible by 3
25  element is not divisible by 3

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

In [26]:
#mutable data type : in this data type we can change the data and modify the data once the object is created
# Mutable data types: lists
my_list = [1, 2, 3]
print("Original list:", my_list)

# Modifying the list by appending a new element
my_list.append(4)
print("Modified list:", my_list)


#immutable data type: in this data type we can not change the data and modify the data once the object is created

# Immutable data types: integers
x = 5
print("Original value of x:", x)

# Attempting to modify the value of x
x = x + 1
print("New value of x:", x)

Original list: [1, 2, 3]
Modified list: [1, 2, 3, 4]
Original value of x: 5
New value of x: 6