Q1) What is a database? Differentiate between SQL and NoSQL databases.

In [1]:
#
#A database is a structured collection of data that is organized and stored in a computer system. 
#It allows users to efficiently store, retrieve, update, and manage data according to their requirements. Databases are commonly used in various applications and industries to store and manage large volumes of structured or unstructured DATA_SCIENCE_PWSKILL/

#SQL (Relational) Databases:
# SQL databases are based on the relational model and use Structured Query Language (SQL) for defining and manipulating data.
# Data in SQL databases is structured and organized into tables with predefined schemas, where each row represents a record and each column represents an attribute.


# NoSQL (Non-Relational) Databases:
# NoSQL databases are designed for handling large volumes of unstructured or semi-structured data and offer flexibility in data modeling.
# NoSQL databases use various data models such as document-based, key-value, column-family, or graph-based models, depending on the specific requirements of the application.

Q2) What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

In [2]:
# DDL stands for Data Definition Language, which is a subset of SQL (Structured Query Language) used for defining and modifying the structure of database objects
# DDL statements allow users to create, modify, and delete database objects, as well as define constraints and permissions.

# CREATE:
#The CREATE statement is used to create new database objects such as tables, indexes, views, or schemas.
CREATE TABLE employees (
    id INT PRIMARY KEY,
    name VARCHAR(100),
    age INT,
    department VARCHAR(50)
);


# DROP:
# The DROP statement is used to delete existing database objects such as tables, indexes, views, or schemas.

DROP TABLE employees;


# 
# ALTER:
# The ALTER statement is used to modify the structure of existing database objects, such as adding, modifying, or dropping columns in a table.

# TRUNCATE:
# The TRUNCATE statement is used to delete all rows from a table while preserving the table structure.
# Unlike DROP, TRUNCATE does not delete the table itself; it only removes all rows from the table.

TRUNCATE TABLE employees;

SyntaxError: invalid syntax (Temp/ipykernel_5188/4091867753.py, line 6)

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

In [ ]:
# DML stands for Data Manipulation Language, which is a subset of SQL (Structured Query Language) used for manipulating data within database objects such as tables. 
# DML statements allow users to insert, update, delete, and query data stored in the database tables.

# INSERT:
#The INSERT statement is used to add new rows of data into a table.

INSERT INTO employees (id, name, age, department)
VALUES (1, 'John Doe', 30, 'Sales');
#UPDATE:
# The UPDATE statement is used to modify existing data in a table.

UPDATE employees
SET age = 35, department = 'Marketing'
WHERE id = 1;

#DELETE:
#The DELETE statement is used to remove one or more rows from a table
DELETE FROM employees
WHERE id = 1;

 Q4. What is DQL? Explain SELECT with an example.

In [ ]:
# 
#DQL stands for Data Query Language, which is a subset of SQL (Structured Query Language) used for retrieving data from database tables. 
#DQL consists primarily of the SELECT statement, which allows users to query and retrieve specific data from one or more tables based on specified criteria.

SELECT id, name, age, department
FROM employees
WHERE department = 'Sales';

Q5. Explain Primary Key and Foreign Key.

In [3]:
# Primary Key:

#A primary key is a column or a set of columns in a table that uniquely identifies each row in the table.
#It must contain unique values for each row and cannot contain null values.
#A table can have only one primary key.

# Foreign Key:

# A foreign key is a column or a set of columns in a table that establishes a link between data in two tables.
# It represents a relationship between two tables by referencing the primary key of another table.
# A foreign key constraint ensures that values in the foreign key column(s) of one table match values in the primary key column(s) of another table or are null.

Q6) Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [ ]:
# 
#To connect MySQL to Python, you can use the mysql.connector library. First, make sure you have installed the library using pip:
 
# The cursor() method creates a new cursor object associated with the connection, allowing you to execute SQL queries. The execute() method of the cursor object is used to execute SQL queries and statements. It takes the SQL query as a parameter and executes it on the connected MySQL database.

import mysql.connector

# Establish a connection to the MySQL database
connection = mysql.connector.connect(
    host="localhost",
    user="your_username",
    password="your_password",
    database="your_database"
)

# Create a cursor object using the cursor() method
cursor = connection.cursor()

# Define a SQL query
query = "SELECT * FROM your_table"

# Execute the query using the execute() method of the cursor object
cursor.execute(query)

# Fetch the results using fetchall() method
results = cursor.fetchall()

# Print the results
for row in results:
    print(row)

# Close the cursor and connection
cursor.close()
connection.close()

Q7. Give the order of execution of SQL clauses in an SQL query.

In [ ]:
 FROM, JOIN, WHERE, GROUP BY, HAVING, SELECT, DISTINCT, ORDER BY, and finally, LIMIT/OFFSET